<div class="issueswrapper" ng-controller="newIssues">
    <div class="alert alert-warning">
        Before you open an issue please review the <a href="#">contributing</a> guidelines for this repository.
    </div>
    <form name="form" class="newissuesform" ng-submit="submit(form)" novalidate>
        <div>
            <input name="title" class="form-control mb-5" placeholder="Title" ng-model="title" ng-required="true">
            <uib-tabset active="active">
                <uib-tab>
                    <uib-tab-heading>
                        Write
                    </uib-tab-heading>
                    <textarea ui-tinymce="tinymceOptions" ng-model="description"></textarea>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Preview
                    </uib-tab-heading>
                    <div class="previewWrapper" ng-bind-html="description"> </div>
                </uib-tab>
            </uib-tabset>
            <span class="markdown"><span class="sprite markdownicon"></span>Styling with Markdown is supported</span>
            <button type="submit" class="btn btn-success submitissuebtn pull-right" ng-disabled="form.$invalid">Submit new issue</button>
        </div>
    </form>
</div>